/* navbar style */
.navbar-info a{
    text-decoration: none;
    color: black;
    padding: 10px;
}
/* header style */
.header-section{
    background-image: url('./images/finishing-their-exam.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    height: 600px;  
    opacity: 1;
}
.header-info{
    height: 500px;
}
.header-text h1{
    font-size: 45px;
}
/* 
popular course section style */
.course-pic{
    height: 250px;
    width: 350px;
}
.person-pic{
    height: 30px;
    width: 30px;
}
.doller{
    height: 45px;
    width: 45px;
    background-color: rgb(230, 230, 94);
    /* margin-top: -20px */
    position: relative;
    top: -25px;
}
/* 
register section style */
.register-section{
    margin-top: 70px;
    margin-bottom: 70px;
    height: 450px;
    background-color: rgb(7, 25, 65);
}
.register-info{
    margin-top: 50px;
}
.register-form{
    height: 350px;
    width: 250px;
    background-color: rgb(186, 194, 194);
    border-radius: 10px;
}
.register-form input{
    border-radius: 10px;
    padding: 10px;
    border: none;
}
.timer{
    height: 100px;
    width: 140px;
    background-color: rgb(29, 71, 92);
}
/* expert trainer section styling */

.expert-pic{
    height: 200px;
    width: 200px;
    margin-bottom: 20px;
}

/* client section style */
.client-pic{
    height: 150px;
    width: 150px;
}

/* footer section */
.footer-section{
    background-color: rgb(29, 71, 92);
    padding: 20px;

}
.footer-section a{
    text-decoration: none;
}
.news-letter{
    width: 300px;
}